{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h3> Hello {{ request.user.username }}</h3>
        <br>
        <a class="btn btn-primary" href="{% url 'profile' %}">View Profile</a>
        <br><br>
        <a class="btn btn-warning" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="btn btn-danger" href="{% url 'social:begin' 'google-oauth2' %}">Login / Signup with Google</a>
    {% endif %}
{% endblock %}